{% extends "base.html" %}

{% block title %}
Info
{% endblock %}

{% block content %}

<div class="info">
    <div>
        <img src="../static/images/lamellen.jpeg" alt="">
    </div>
    <div class="tekst_overproject">
        <h1>Over project</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec leo dictum, placerat nisl a, tincidunt
            neque. Aliquam lectus odio, tristique non lacus et, laoreet dictum mauris. Vivamus ut scelerisque mauris,
            nec varius justo. Sed vitae odio at urna mollis hendrerit eget ut turpis. Donec nec suscipit odio. Phasellus
            viverra purus at varius tempor. Mauris leo justo, gravida eget faucibus porta, elementum sed quam.
        </p>
    </div>

</div>
<div class="tekst_werkingproject">
    <h1 id="werking_project">Werking project</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec leo dictum, placerat nisl a, tincidunt neque.
        Aliquam lectus odio, tristique non lacus et, laoreet dictum mauris. Vivamus ut scelerisque mauris, nec varius
        justo. Sed vitae odio at urna mollis hendrerit eget ut turpis. Donec nec suscipit odio. Phasellus viverra purus
        at varius tempor. Mauris leo justo, gravida eget faucibus porta, elementum sed quam.
    </p>

</div>
{% endblock %}

