{% extends "base.html" %}

{% block title %}
Info
{% endblock %}

{% block content %}

<div class="info">
    <div>
        <img src="../static/images/lamellen.jpeg" alt="">
    </div>
    <div class="tekst_overproject">
        <h1>Over project</h1>
        <p>
            Mijn project was de slimme zonnewering. Ik koos voor dit project omdat ik dacht dat dit een project was, dat ik aan zou kunnen qua niveau van codering en schakeling. Het project bestaat uit een schakeling die verbonden is met de Raspberry Pi. Op deze Raspberry Pi staat er ook een database om de gegevens van de schakeling op te slaan. Er staat ook nog een website op de Pi, die ook verbonden is met de database.
        </p>
    </div>

</div>
<div class="tekst_werkingproject">
    <h1 id="werking_project">Werking project</h1>
    <p>
        Een lichtsensor word verbonden met de Raspberry Pi, via een MCP3008 (shift register). Deze lichtsensor zal een waarde inlezen die tussen de 0 en 1023 zal liggen. Aan de Raspberry Pi is ook een servomotor verbonden. Als de lichtsensor een waarde van 200 of lager inleest zal die servomotor er voor zorgen dat de servomotor begint te draaien. Wanneer dat de lichtsensor weer een waarde van boven de 200 inleest, zal de servo in de andere richting terugdraaien.
    </p>

</div>
{% endblock %}
